<!--The content below is only a placeholder and can be replaced.-->
<div class="align-center-heading container-fluid">
<div class="col-sm-3">
  <img src="\assets\images\Logo_ETC-pdf.png" class="img-logo">
</div> 
<div class="col-sm-9">
  <h1 class="title">
    Reusable Component
  </h1> 
</div>
</div>

<div class="container-fluid table-grid">
<router-outlet></router-outlet>
</div>
<footer>  
  <div class="container">
      <div class="align-center">
          <h4 class="mbr-text mbr-fonts-style display-5">
              Copyright &copy; 2019 <a href="https://emids.com/">Emids Tech Community</a></h4>
      </div>
  </div>
</footer>

